#item1 { grid-area: header;
       background-color: lightgrey;}
        
.item2 { grid-area: menu; 
        background-color: DodgerBlue;}
        
.item3 { grid-area: main;
       background-color: DodgerBlue;}
        
.item4 { grid-area: right;
       background-color: DodgerBlue;}
        
.item5 { grid-area: footer; 
       background-color: DodgerBlue;}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.flex-container {
  display: flex;
  background-color: DodgerBlue;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}
